<h2>Create Account</h2>
<form method="POST" action="/register">
    <label>Name: <input type="name" name="name" required> </label><br>
    <label>Email: <input type="email" name="email" required /></label><br>
    <label>Pass: <input type="pass" name="pass" required /></label><br>
    <label>Location: <input type="location" name="location" required> </label><br>
    <button type="submit">Create Account</button>
</form>
<p>
    <button type="button" onclick="location.href='/login'">Log In Instead</button>
</p>

